### range method

In [15]:
one_to_nine = range(10)

In [18]:
print(one_to_nine)

range(0, 10)

In [19]:
one_to_nine_list = list(one_to_nine)
print(one_to_nine_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### enumerate method

In [21]:
text_list = ['Vahram','Liana','Srbuhi','Vika']
for index, name in enumerate(text_list):
    print(f'person name at index {index} is {name}')

person name at index 0 is Vahram
person name at index 1 is Liana
person name at index 2 is Srbuhi
person name at index 3 is Vika

### Zip

In [22]:
list_a = [1,2,3,4,5]
list_b = ['a','b','c','d']
list_c = [['a','d'],['l,e'],['c','k']]
zipped_list = list(zip(list_a,list_b,list_c))
print(zipped_list)

[(1, 'a', ['a', 'd']), (2, 'b', ['l,e']), (3, 'c', ['c', 'k'])]

### Check item in iterables and dictionaries

In [23]:
'x' in ['a','b','x']

True

In [24]:
'a' in 'Vahram'

True

In [25]:
2 in (1,2,3)

True

In [26]:
4 in [0,1,2]

False

In [28]:
car = {"color":'blue'}

In [29]:
'color' in car

True

In [30]:
'blue' in car.values()

True

### minimum and maximum

In [31]:
max([1,2,3,4,5])

5

In [32]:
min([4,2,5,7])

2

### **Import** methods from **random** built-in library

In [42]:
from random import sample,randint;
sample([1,2,3,4,5],3)

[5, 4, 3]

In [43]:
randint(1,50)

32

### user input

In [48]:
user_input_value = input("Please,enter your age")

### Transform string to num

In [49]:
userAge = int(user_input_value)

In [46]:
userAge

27

### Lists comprehensions

In [50]:
name = 'Vahram'

letter_list = [letter for letter in name]

In [51]:
letter_list

['V', 'a', 'h', 'r', 'a', 'm']

In [52]:
numbers = [1,2,3,4,5]

square_numbers = [num**2 for num in numbers]

print(square_numbers)

[1, 4, 9, 16, 25]

In [53]:
odd_square_numbers = [num**2 for num in numbers if num%2==1]
print(odd_square_numbers)

[1, 9, 25]

In [62]:
new_numbers_collection = [1,2,3,4,5,6,7,8,9,10];

result = ['EVEN' if number%2==0 else 'ODD'  for number in new_numbers_collection]

print(result)

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN']

Loop inside loop

In [64]:
my_list = [x*y for x in [1,2,3] for y in [4,5,6]]
print(my_list)

[4, 5, 6, 8, 10, 12, 12, 15, 18]