## Warmup

### Lesser of two events
Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [1]:
def lesser_of_two_events(a,b):
    greater = 0
    smaller = 0
    if a>b:
        greater=a
        smaller=b
    else:
        greater=b
        smaller=a
    
    if a%2==0 and b%2==0:
        return smaller
    else:
        return greater

In [2]:
lesser_of_two_events(4,5)

5

In [3]:
lesser_of_two_events(2,6)

2

In [4]:
lesser_of_two_events(2,2)

2

### ANIMAL CRACKERS 
Write a function takes a two-word string and returns True if both words begin with same letter

In [5]:
def animal_crackers(text):
    word_list = text.split(' ')
    if word_list[0][0].casefold == word_list[1][0].casefold:
        return True
    return False

In [6]:
animal_crackers('Levelheaded Llama')

True

In [7]:
animal_crackers('Crazy Kangaroo')

False

### MAKES TWENTY
Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [8]:
def makes_twenty(a:int,b:int):
    return 20 in (a,b,a+b)

In [9]:
# Check
makes_twenty(20,10)

True

In [10]:
# Check
makes_twenty(2,3)

False

In [12]:
#Check
makes_twenty(17,3)

True

## LEVEL 1 Problems

### OLD MACDONALD: 
Write a function that capitalizes the first and fourth letters of a name

In [18]:
def old_macdonald(text:str):
    transformed_text = ''
    for index,letter in enumerate(text):
        if(index==0 or index==3):
            transformed_text += letter.upper()
            continue
        transformed_text += letter
    return transformed_text

In [20]:
old_macdonald('macdonalds')

'MacDonalds'

### MASTER YODA
Given a sentence, return a sentence with the words reversed

In [31]:
def master_yoda(text:str):
    reversed_word_list = text.split(' ')
    reversed_word_list.reverse()
    return ' '.join(reversed_word_list)

In [32]:
master_yoda("I am home")

'home am I'

In [33]:
# Check
master_yoda('We are ready')

'ready are We'

### ALMOST THERE
Given an integer n, return True if n is within 10 of either 100 or 200

In [40]:
def almost_there(n:int):
    return abs(n-100)<=10 or abs(n-200)<=10

In [41]:
almost_there(90)

True

In [42]:
almost_there(89)

False

In [43]:
almost_there(104)

True

In [44]:
almost_there(111)

False

In [45]:
almost_there(207)

True

## Level 2 Problems

### FIND 33
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [51]:
def has_33(int_list:list[int]):
    text_int = ''.join([str(num) for num in int_list ])
    return '33' in text_int

In [52]:
# Check
has_33([1, 3, 3])

True

In [53]:
# Check
has_33([1, 3, 1, 3])

False

In [54]:
# Check
has_33([3, 1, 3])

False

### PAPER DOLL
Given a string, return a string where for every character in the original there are three characters

In [55]:
def paper_doll(text):
    return ''.join([letter * 3 for letter in text])

In [56]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [57]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### BLACKJACK
Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [58]:
def blackjack(a:int,b:int,c:int):
    total = a+b+c
    if total <=21 : return total
    else:
        if 11 in (a,b,c):
            return total -10
    if total>21: return 'BURN'

In [59]:
# Check
blackjack(5,6,7)

18

In [60]:
# Check
blackjack(9,9,9)

'BURN'

In [61]:
# Check
blackjack(9,9,11)

19

### SUMMER OF '69
 Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [17]:
def summer_69(num_list:list[float]):
    if(len(num_list)==0): return 0
    trigger = False
    total_sum = 0
    for index,num in enumerate(num_list):
        if (num==6 and not trigger and 9 in num_list):
            if index< num_list.index(9):
                trigger = True
                continue
        elif(num==9 and trigger):
            trigger = False
            continue
        if(not trigger):
            total_sum +=num
    return total_sum

In [18]:
# Check
summer_69([1, 3, 5])

9

In [19]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [20]:
# Check
summer_69([2, 1, 6, 9, 11])

14

## CHALLENGING PROBLEMS
### SPY GAME
Write a function that takes in a list of integers and returns True if it contains 007 in order

In [21]:
def spy_game(num_list:list[int]):
    found_nums = ''
    for num in num_list:
        if num == 0 or num == 7 :
            found_nums += str(num)
    return '007' in found_nums

In [22]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [23]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [24]:
# Check
spy_game([1,7,2,0,4,5,0])

False

### COUNT PRIMES
Write a function that returns the number of prime numbers that exist up to and including a given number

In [31]:
def prime_numbers_count(number:int):
    if number<=1 :
        return 0
    prime_list:list[int] = []
    for num in range(2,number+1):
        if(len(prime_list)==0):
            prime_list.append(num)
        for index,prime_num in enumerate(prime_list):
            if(num%prime_num==0):
                break
            if(index==len(prime_list)-1):
                prime_list.append(num)
    return len(prime_list)

In [34]:
# Check
prime_numbers_count(100)

25